asgiref==3.4.1
autopep8==1.5.7
backports.entry-points-selectable==1.1.0
ccm==3.1.5
certifi==2021.10.8
charset-normalizer==2.0.7
comtypes==1.1.10
distlib==0.3.3
Django==3.2.8
filelock==3.3.0
gunicorn==20.1.0
idna==3.3
Pillow==8.4.0
platformdirs==2.4.0
playsound==1.3.0
pycodestyle==2.7.0
pygame==2.0.1
pyttsx3==2.90
pytz==2021.3
PyYAML==6.0
razorpay==1.2.0
requests==2.26.0
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
urllib3==1.26.7
virtualenv==20.8.1
virtualenvwrapper-win==1.2.6
whitenoise==5.3.0
